<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
    <!-- box icon cdn  -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- toastify css -->
    <link rel="stylesheet" href="">
    <!-- main css -->
    <link rel="stylesheet" href="./stylesheets/style.css" />

  </head>
  <body>
    <!-- sidebar start  -->
    <section class="sidebar">
      <div class="logo_details">
        <i class="bx bx-chat"></i>
        <span class="logo_name">Chat</span>
      </div>

      <!-- sidebar nav link start  -->
      <ul class="nav_links">
        <!-- link item 1  -->
        <li>
          <a href="/inbox">
            <i class="bx bx-collection"></i>
            <span class="link_name">Inbox</span>
          </a>
          <ul class="sub_menu blank">
            <li>
              <a class="link_name" href="/inbox">Inbox</a>
            </li>
          </ul>
        </li>
        <!-- link item 2  -->
        <li>
          <a href="/users">
            <i class="bx bxs-user-detail"></i>
            <span class="link_name">Users</span>
          </a>
          <ul class="sub_menu blank">
            <li>
              <a class="link_name" href="/users">Users</a>
            </li>
          </ul>
        </li>
        <!-- link item 3  -->
        <li>
          <a href="/">
            <i class="bx bx-log-in-circle"></i>
            <span class="link_name">Login</span>
          </a>
          <ul class="sub_menu blank">
            <li>
              <a class="link_name" href="/">Login</a>
            </li>
          </ul>
        </li>

        <!-- link item 10 user  -->
        <li>
          <div class="profile_details">
            <div class="profile_content">
              <img src="" alt="" />
            </div>
            <div class="name_job">
              <div class="profile_name">Ariful Hasan</div>
              <div class="job">Web Developer</div>
            </div>
            <i class="bx bx-log-out"></i>
          </div>
        </li>
        <!-- link item end  -->
      </ul>
      <!-- sidebar nav link end  -->
    </section>
    <!-- sidebar end  -->
    
  </body>
</html>
